/* IMPOSTO CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    
}

header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: hsl(339deg 78% 55%)
    ;
    font-family: 'Fredoka One', cursive;
}

header > p {
    color: black;
    margin: 40px 140px;
}

.container {

    margin: 0 140px;
}

.clearfix::after  {
    content: "";
    display: table;
    clear: both;
  }

.testo {
    display: inline-block;
}

.clearfix > div{
    padding: 10px 20px 20px;
    width: calc(100% / 3 - 20px);
   /* border: 1px dashed red;*/
   background-color: rgb(10, 9, 9);
   border-radius: 10px;
   margin: 0 10px;
   color: aliceblue;;

  }

.float-left {
 float: left;
}

  