/* IMPOSTO CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* BODY */
body {
    background-color: white;
    font-family: 'Fredoka One', cursive;
    
}
/* /BODY */

/* HEADER */
header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: hsl(339deg 78% 55%)
    ;
    font-family: 'Fredoka One', cursive;
}

/* /HEADER */


header > p {
    color: black;
    margin: 40px 140px;
}

/* CONTAINER */

.container {

    margin: 0 140px;
}

/* /CONTAINER */

.clearfix::after  {
    content: "";
    display: table;
    clear: both;
  }

/* CORPO TESTO */
.testo {
    display: inline-block;
    margin-top: 2px;
    vertical-align: auto;
    vertical-align: top;
    margin : 4px ,10px;
    padding: 10px 10px;
}

/* /CORPO TESTO */
.clearfix > div{
   
    width: calc(100% / 3 - 20px);
   background-color: rgb(2, 2, 2);
   margin: 0px 10px;
   color: aliceblue;;
   height: 200px;
  }

.float-left {
 float: left;
}

.container2 {
    margin: 50px 140px;
}

/* PARAGRAFO */
.paragrafo {
    color:#5cadce ;
    margin-top: 40px;
    
}
/* /PARAGRAFO */

/* H3 */
h3{
    margin-top: 20px;
}

/* /H3 */

/* H2 */
h2 {
    margin-top: 30px;
}
/* /H2 */